.mail-dashboard {
  background: #eee;
}
.ui .row.mail-inbox {
  padding: 2rem;
}
.mail-header {
  background: #fff;
}

.ui.grid .row-mail-item {
  padding: 0;
  cursor: pointer;

  &.unread {
    background: #fff;
  }
}

.editor-read-only .rdw-editor-toolbar {
  border: none;
}

.md-floating-container {
  position: relative;
}

.md-border-less {
  border: 0px !important;
  &.ui.compact.menu {
    box-shadow: none;
  }
}
.ui .md-icon-only .icon {
  margin: 0px;
}
